<div class="toolbar-top"></div>
<nav class="toolbar">

  <h2> Inventory Demo </h2>
  <span class="disabled" routerLink="/main/users">Users</span>
  <span class="disabled" routerLink="/main/accounts">Accounts</span>
  <span class="disabled" routerLink="/main/products">Products</span>
  <span class="disabled" routerLink="/main/orders">Orders</span>
  <span class="disabled" routerLink="/main/invoice">Invoice</span>

  <span routerLink='contact'>Contact</span>
  <span routerLink='customer'>Customer</span>
  <span routerLink='vendor'>Vendor</span>

  </nav>
<nav>
  <router-outlet></router-outlet>
</nav>

