<h4>Customer List</h4>
<a routerLink="/customer-create"><button class="btn btn-success"><i class="fa-regular fa-star"></i>Add Customer</button></a>
<table class="table table-bordered table-striped">
  <thead>
  <tr>
    <th><i class="fa fa-id-card"></i>Id</th>
    <th><i class="fa fa-user"></i>Name</th>
    <th><i class="fa fa-envelope"></i>Address</th>
    <th><i class="fa fa-Phone"></i>Phone</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let c of customers">
    <td>{{c.id}}</td>
    <td>{{c.customerName}}</td>
    <td>{{c.customerAddress}}</td>
    <td>{{c.customerPhone}}</td>
    <!--    <td> <a routerLink="/details/{{u.id}}"><button class="btn btn-primary"><i class="fa-solid fa-eye"></i>View</button></a> </td>-->
    <!--    &lt;!&ndash;            <td> <a routerLink="/user-accounts/{{u.id}}"><button class="btn btn-primary"><i class="fa-solid fa-eye"></i>Accounts</button></a> </td>&ndash;&gt;-->
    <!--    <td> <button (click)="UserAccountList(u.id)"  class="btn btn-primary"><i class="fa-solid fa-eye"></i>Accounts</button> </td>-->
    <td><a routerLink="/customer-edit/{{c.id}}">
      <button class="btn btn-warning"> <i class="fa-solid fa-pen"></i>Edit</button></a></td>
    <td><button type="button"(click)='deleteCustomerById(c.id)' class="btn btn-danger"><i class="fa-solid fa-trash"></i>Delete</button></td>
  </tr>
  </tbody>
</table>
